{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
    function userClick(a){
        if (a==0){
            location.href="/user/register"
        }
        else if(a==1){
            location.href="/user/login"
        }
        else if(a==2){
        console.log("out");
            location.href="/user/logout"
        }

    }
</script>

<div class="container">
    {% if user.is_authenticated %}
        <div class="row">
            <a href="javascript:userClick(2)"><input class="button" type="button" value="sign out"></a>
        </div>
    {% else %}
        <div class="row">
            <a href="javascript:userClick(0)"><input class="button" type="button" value="sign up"></a>
            <a href="javascript:userClick(1)"><input class="button" type="button" value="sign in"></a>
        </div>
    {% endif %}

   <div class="row">
        <h1>HI</h1>
        <h1>HI</h1>
   </div>
    <div class="row" style="text-align:center">
        <a class="col-12"> search </a>
   </div>
</div>
{% endblock %}