{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
    function userClick(a){
        if (a==0){
            location.href="/user/register"
        }
        else if(a==1){
            location.href="/user/login"
        }
        else if(a==2){
        console.log("out");
            location.href="/user/logout"
        }
        else if(a==3){
            location.href="/search";
        }

    }
</script>

<!-- <div class="container" style="position: relative; height: 100%;"> -->
    

   <div class="row" style="position: static; height: 80%; justify-content:center; display: flex; align-items: center;">
        <div class="col-12">
            <h1 style="text-align: center; text-decoration: solid; text-shadow: 3px 2px 2px gray;">COOD</h1>
        </div>
        
   </div>
    <!-- <div class="row" style="text-align:center"  style="position: static;">
        <a href="javascript:userClick(3)" class="col-12"> search </a>
   </div> -->
    <!-- <div id="floating-panel">
      <input id="latlng" type="text" value="40.714224,-73.961452" />
      <input id="submit" type="button" value="Reverse Geocode" />
    </div> -->
    <!-- <div id="map"></div> -->
<!-- </div> -->
{% endblock %}