[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/1n6/ownwayvenv/bin/uwsgi -i /srv/1n6/.config/uwsgi/ownway.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
