{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.max-small {
    width: auto;
    height: auto;

    max-width: 100%;
    height: auto;
    display: block;
}


</style>

    <div class="container">
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-4">
                <form action="./boardInsert" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm">Write</button>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <table class="table" style="text-align:center;">
                <tr>
                    <td>제목</td>
                    <td>{{board_detail.b_title}}</td>
                    <td>글쓴이</td>
                    <td>{{board_detail.m_id}}</td>
                </tr>
                <tr>
                    <td>날짜</td>
                    <td colspan="3">{{board_detail.b_datetime}}</td>
                </tr>
                <tr>
                    <td colspan="4">{{board_detail.b_text|linebreaksbr}}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <img class="max-small" src="{{board_photo.image.url}}" ><br>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">

            {% if user.username == board_detail.m_id %}
            <form action="./boardDelete?" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="b_id_d" id="b_id_d" value="{{board_detail.b_id}}">
                    <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                </div>
            </form>
            <form action="./boardEdit" method="GET">
                <div class="form-group">
                    <input type="hidden" name="b_id_e" id="b_id_e" value="{{board_detail.b_id}}">
                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                </div>
            </form>

            {% endif %}
        </div>
    </div>
{% endblock %}