{% extends "base.html" %}
{% load static %}

{% block content %}
	<script src="{% static 'js/projectBasic.js' %}"></script>
	<script type="text/javascript">


		$('document').ready(function() {
			initMap();
			
			initSelect();
		});

		var sidoArray;
		var gunguArray;
		var dongArray;

		async function initSelect(){
			await getSidoAddress();
			await getGunguAddress();
			await getDongAddress();
		}

		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		var csrftoken = getCookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		//시-도 가져오기
		function getSidoAddress(){
			
			var url1 = 'getSido';
			var tData = {
				'title': 'tt',
				'content' : 'tt3333',
			}
			tData = JSON.stringify(tData);
			// console.log(tData);

			$.ajax({
				url : url1,
				type : 'POST',
				async : false,
				data : tData,
				dataType: "json",
				success: function(data1){
					sidoArray = data1;
					//console.log(sidoArray);
					setSido(data1);
				},
				error: function(){
					//console.log('errte');
				}
			});
		}

		function getGunguAddress(){
			var url1 = 'getGungu';
			var selSido = $('#sido1 option:selected').val()
			var tData = {
				'sido_cd' : selSido
			}
			tData = JSON.stringify(tData);
			//console.log(tData);

			$.ajax({
				url : url1,
				type : 'POST',
				data : tData,
				async : false,
				dataType: "json",
				success: function(data1){
					gunguArray = data1;
					console.log(gunguArray);
					setGunGu(data1);
				},
				error: function(){
					//console.log('errte');
				}
			});
		}

		function getDongAddress(){
			var url1 = 'getDong';
			var selGungu = $('#gungu1 option:selected').val()
			var tData = {
				'sigungu_cd' : selGungu
			}
			tData = JSON.stringify(tData);
			//console.log(tData);

			$.ajax({
				url : url1,
				type : 'POST',
				data : tData,
				async : false,
				dataType: "json",
				success: function(data1){
					dongArray = data1;
					console.log(dongArray);
					setDong(data1);
				},
				error: function(){
					//console.log('errte');
				}
			});
		}

		// ajax로 시-도 데이터 가져와서 set
		function setSido(data1){
			$("#sido1 option").remove();
			for(var i = 0; i < data1.length; i++){                
                var option = $("<option value="+data1[i].sido_cd +">"+data1[i].sido_nm+"</option>");
                $('#sido1').append(option);
            }
			$("#sido1 option:eq(0)").prop("selected", true);
		}

		// ajax로 구-군 데이터 가져와서 set
		function setGunGu(data1){
			$("#gungu1 option").remove();
			for(var i = 0; i < data1.length; i++){                
                var option = $("<option value="+data1[i].sigungu_cd +">"+data1[i].sigungu_nm+"</option>");
                $('#gungu1').append(option);
            }
		}

		// ajax로 동 데이터 가져와서 set
		function setDong(data1){
			$("#dong1 option").remove();
			for(var i = 0; i < data1.length; i++){ 
				if(i==0){
					var option = $("<option value='0'>전체</option>");
					$('#dong1').append(option);
				}               
                var option = $("<option value="+data1[i].adm_dr_cd2 +">"+data1[i].adm_dr_nm+"</option>");
                $('#dong1').append(option);
            }
			console.log()
		}

		
		let geocoder;
		let infowindow;
		// 지도
		function initMap() {
			const map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: { lat: 40.731, lng: -73.997 },
			});
			geocoder = new google.maps.Geocoder();
			infowindow = new google.maps.InfoWindow();

		}


		var data1=[];

		function checkLoc() {
			if($("#sido1 option:selected").val() == "시/도 선택") {
		    	alert("시/도를 선택해주세요.");
		    	return false;
		  	}
		  	else{
				$("#row1").css({'display':'none'});
				$("#row2").css({'display':''});
			  	return true;
		  	}
		}
		function selectLoc(){
			data1.push($("#sido1").val());
			data1.push($("#gungu1").val());
			console.log(data1);
		}

		function checkTheme() {
			if($("#theme1 option:selected").val() == "장소 선택") {
			    alert("장소를 선택해주세요.");
			    return false;
			  }
			else{
				$("#row2").css({'display':'none'});
				$("#row3").css({'display':''});

				return true;
			}
		}
		function selectTheme(){
			data1.push($("#theme1 option:selected").val());

			console.log(data1);
		}

		function checkPhoto(){
			if($("#file1").val() == "") {
			    alert("사진을 선택해주세요.");
			    return false;
			  }
			else{
				$("#row3").css({'display':'none'});
				$("#row4").css({'display':''});
				return true;
			}
		}
		function selectPhoto(){
			data1.push($("#file1").val());
			console.log(data1);
		}
		
		function checkTitle(){
			if($("#title1").val() == ""){
			    alert("제목을 입력해주세요.");
			    return false;
			}else{
				$("#row4").css({'display':'none'});
				$("#row5").css({'display':''});
				return true;
			}
		}
		function checkPost(){
			if($("#content1").val() == ""){
			    alert("내용을 입력해주세요.");
			    return false;
			}else{
				return true;
			}
		}

		function writeTitle(){
			data1.push($("#title1").val());
			console.log(data1);
		}
		function writePost(){
			var k = $("#fr").serialize()
			console.log(k);
		}

		var loc;
		function myLocation(){
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(
					(position) => {
						const pos = {
							lat: position.coords.latitude,
							lng: position.coords.longitude,
						};
						loc = pos;
						geocodeLatLng(geocoder, pos);
				});
			}
			else {
				consoel.log('nope');
			}
		}

		//function geocodeLatLng(geocoder, map, infowindow)
		function geocodeLatLng(geocoder, loc) {
			console.log(loc)
			const latlng = {
				lat: parseFloat(loc.lat),
				lng: parseFloat(loc.lng),
			};
			geocoder.geocode({ location: latlng }, (results, status) => {
				if (status === "OK") {
					console.log(results)
					if (results[2]) {
						// 대한민국 경기도 군포시 궁내동
						setMyLoc(results[2].formatted_address)
						
					} else {
						window.alert("No results found");
					}
				} else {
				window.alert("Geocoder failed due to: " + status);
				}
			});
		}

		function setMyLoc(addr){
			var addrArr = addr.split(' ');
			
			var k = sidoArray.filter(function(e){
				return e.sido_nm==addrArr[1];
			})

			$("#sido1").val(k[0].sido_cd).prop("selected", true);

			getGunguAddress();

			k = gunguArray.filter(function(e){
				return e.sigungu_nm==addrArr[2];
			});

			$("#gungu1").val(k[0].sigungu_cd).prop("selected", true);

			getDongAddress();
			
			k = dongArray.filter(function(e){
				return e.adm_dr_nm==addrArr[3];
			});

			$("#dong1").val(k[0].adm_dr_cd2).prop("selected", true);


		}

	</script>

    <div class="container">
		<div id="map"></div>
        <div class="row">
            <h1 style="text-align:center; margin:auto;">글 쓰기</h1>
        </div>
		<form action="{% url 'boardInsert' %}" method="POST" role="form" name="fr"  id="fr" enctype="multipart/form-data"> {% csrf_token %}
		<div class="row" id="row1">
			<h2>현위치 선택</h2>
			<div class="col-6">
				<select class="form-control" name="sido1" id="sido1" onchange="getGunguAddress()"></select>
				<select class="form-control" name="gungu1" id="gungu1" onchange="getDongAddress()">
					<option value="1">구/군</option>
				</select>
				<select class="form-control" name="dong1" id="dong1">
					<option value="1">전체</option>
				</select>
			</div>
			<div class="col-3">
				<input class="btn btn-info" type="button" value="다음" onclick="return checkLoc()">
			</div>
			<div class="col-3">
				<input type="button" value="위치"  id="myLoc" onclick="myLocation()"/>
			</div>
		</div>

		<div class="row" id="row2" style="display:none;">
			<h2>장소 선택</h2>
			<div class="mb-3">
				<select class="form-control" name="theme1" id="theme1">
					<option value="장소 선택">장소 선택</option>
					<option value="술">술</option>
					<option value="식사">식사</option>
					<option value="놀이">놀이</option>
					<option value="실외">실외</option>
					<option value="디저트">디저트</option>
				</select>
			</div>
			<div class="mb-3">
				<input class="btn btn-info" type="button" value="다음" onclick="return checkTheme()">
			</div>
		</div>


		<div class="row" id="row3" style="display:none;">
			<h2>사진 업로드</h2>
<!--			<form action="javascript: selectPhoto()" role="form" method="post" onsubmit="return checkPhoto()" enctype="multipart/form-data">

			</form>-->
			<div class="mb-3">
				<input class="btn btn-primary" multiple="multiple" type="file" id="file1" name="file1" />
			</div>
			<div class="mb-3">
				<input class="btn btn-info" type="button" value="다음" onclick="return checkPhoto()">
			</div>
		</div>

		<div class="row" id="row4" style="display:none;">
			<h2>제목</h2>
<!--			<form action="javascript: writeTitle()" role="form" method="post" onsubmit="return checkTitle()">

			</form>-->
			<div class="mb-3">
				<input type="text" class="form-control" id="title1" name="title1">
			</div>
			<div class="mb-3">
				<input class="btn btn-info" type="button" value="저장" onclick="return checkTitle()">
			</div>
		</div>

		<div class="row" id="row5" style="display:none;">
			<h2>내용</h2>
<!--			<form action="javascript: writePost()" role="form" method="post" onsubmit="return checkPost()" enctype="multipart/form-data">

			</form>-->
			<div class="mb-3">
				<textarea id="content1" name="content1" class="form-control"> </textarea>
			</div>
			<div class="mb-3">
				<input class="btn btn-info" type="submit" value="저장" onclick="return checkPost()">
			</div>
		</div>
		</form>
	</div>

{% endblock %}