{% extends "base.html" %}
{% load static %}

{% block content %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqsYxJK8fV_IX5tRtrjlp5cmBd_RR_ceg&callback=initMap&libraries=&v=weekly"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	c2f2bd8792f549e7e03683092f47bf1b&libraries=services"></script>
<script>
    let geocoder;
	let infowindow;
	// 지도
	/*function initMap() {
		const map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: { lat: 40.731, lng: -73.997 },
		});
		geocoder = new google.maps.Geocoder();
		infowindow = new google.maps.InfoWindow();
	}*/

    function initMap() {
        myLatLng = { lat: 37.358424858080184, lng: 126.9315419351788 }
        map = new google.maps.Map(document.getElementById("map"), {
            center: myLatLng,
            zoom: 15,
        });
        infoWindow = new google.maps.InfoWindow();
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Hello World!",
        });
        // map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);

    }

    var loc;
    let map, infoWindow;

	function myLocation(){

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };
                infoWindow.setPosition(pos);
                infoWindow.setContent("Location found.");
                infoWindow.open(map);
                map.setCenter(pos);
                },
                () => {
                handleLocationError(true, infoWindow, map.getCenter());
                }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
         /*   
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(
				(position) => {
					const pos = {
						lat: position.coords.latitude,
						lng: position.coords.longitude,
					};
					loc = pos;
					geocodeLatLng(geocoder, pos);
			});
		}
		else {
			consoel.log('nope');
		}*/
	}
    
    function setMap(){

    }

    
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }

    const searchAjax = () => {
        let searchParam = { 
                            'searchThing': $("#searchThing").val()
                          }

                          
    };

</script>

<div class="container">
    {% if user.is_authenticated %}
        <div class="row">
            <a href="javascript:userClick(2)"><input class="button" type="button" value="sign out"></a>
        </div>
    {% else %}
        <div class="row">
            <a href="javascript:userClick(0)"><input class="button" type="button" value="sign up"></a>
            <a href="javascript:userClick(1)"><input class="button" type="button" value="sign in"></a>
        </div>
    {% endif %}

    <div class="row" style="text-align: center;">
        <input type="text" value="" id="searchThing" name="searchThing">
    </div>
    <a href="javascript:myLocation()" >heell</a>
    <div id="map" style="width:100%; height:300px"></div>
</div>
{% endblock %}