{% extends "base.html" %}
{% load static %}

{% block content %}
<script>

</script>

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-lg-6" style="float:left; width:48%">
            <table style="width:100%;">
                 {% for b in photo1 %}
                    <tr>
                        <td>
                            {{ b.post__b_title }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="max-small" src="/media/{{b.image}}" style="max-width:100%;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ b.post__b_text|linebreaksbr }}
                        </td>
                    </tr>
                 {% endfor %}
            </table>

        </div>
        <div class="col-lg-6" style="border: 1px solid;float:right; width:48%">

        </div>
    </div>
</div>
{% endblock %}