{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block css %}
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    {% endblock %}
    {% block js %}
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    {% endblock %}
    <title>
        {% block title %}
            SNS
        {% endblock title %}
    </title>
  </head>
  <body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

  </body>
</html>