{% load static %}
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block css %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/board.js' %}"></script>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        {% endblock %}

    <title>
        {% block title %}
            SNS
        {% endblock title %}
    </title>
      <style>
          .container{
            text-align:center !important;
          }

      </style>
  </head>
  <body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

  </body>
</html>