{% block content %}
<style>
    a{
        font-weight: bold;

    }

    .col-4{
        text-align:center;
    }


</style>
<!-- <div class="container"> -->
{% if user.is_authenticated %}
<footer>
    <div class="row">
        <div class="col-4" style="text-align: center;">
           <a href="/"> MAIN </a>
        </div>
        <div class="col-4" style="text-align: center;">
            <a href="/posts"> POST </a>
        </div>
        <div class="col-4" style="text-align: center;">
            <a href="/myPage"> MYPAGE </a>
        </div>
    </div>
</footer>
{% endif %}
<!-- </div> -->

{% endblock %}